*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body{
    display: flex;
    justify-content: center;
}

form{
    margin-top: 3rem;
    border: solid black 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    background-color: antiquewhite;
}

legend{
    font-size: x-large;
    color: rgb(52, 52, 212);
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 2px solid rgb(52, 52, 212);
}

input{
    border: solid black 2px;
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
}

select{
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    padding: 0.2rem;
    background-color:rgba(150, 150, 212, 0.514);
}

#submit_area{
    display: flex;
    justify-content: right;
}

#submit{
    padding: 0.2rem 0.5rem;
    background-color: rgb(52, 52, 212);
    color: white;
    border-radius: 4px;
    font-size: larger;
}