*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

body{
    display: flex;
    justify-content: center;
}

form{
    margin-top: 3rem;
    border: solid black 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: antiquewhite;
}

legend{
    font-size: x-large;
    color: rgb(52, 52, 212);
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 2px solid rgb(52, 52, 212);
}

input{
    border: solid black;
    border-radius: 4px;
    padding: 0.2rem 0.5rem;
    width: 250px;
}

input:user-invalid{
    border: #990000 dashed;
    background-color: pink;
}

select{
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    padding: 0.2rem;
    background-color:rgba(150, 150, 212, 0.514);
}

#submit_area{
    display: flex;
    justify-content: right;
}

#submit{
    padding: 0.2rem 0.5rem;
    background-color: rgb(52, 52, 212);
    color: white;
    border-radius: 4px;
    font-size: larger;
}

.error_holder{
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    align-items: flex-start;
    width: 250px;
    height: 4em;
}

.form_input label{
    display: inline-block;
    vertical-align: top;
}

.error{
    margin-left: 1.5%;
    width: 97%;
    max-width: 97%;
    padding: 0.3em;

    font-size: 0.75rem;
    background-color: #990000;
    color: white;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;

    word-wrap: break-word;
    overflow-wrap: break-word;

    visibility: hidden;
}

.error.active{
    visibility: visible;
}